<form [formGroup]="editUserForm" (ngSubmit)="save()">
  <div class="p-fluid">
    <div class="field">
      <label for="username">{{ 'admin.users.username-label' | translate }}</label>
      <input type="text" pInputText name="userName" id="username" formControlName="userName" [ngClass]="{'ng-invalid ng-dirty' : userName.touched && userName.errors}" />
      <small *ngIf="userName.touched && userName.errors?.required" class="p-error">{{ 'admin.users.username-error-required' | translate }}</small>
      <small *ngIf="userName.dirty && userName.errors?.email" class="p-error">{{ 'admin.users.username-error-email' | translate }}</small>
    </div>
    <div class="field">
      <label for="name">{{ 'admin.users.name-label' | translate }}</label>
      <input type="text" pInputText name="name" id="name" formControlName="name" [ngClass]="{'ng-invalid ng-dirty' : name.touched && name.errors}" />
      <small *ngIf="name.touched && name.errors?.required" class="p-error">{{ 'admin.users.name-error-required' | translate }}</small>
    </div>
    <div class="field">
      <label for="password">{{ 'admin.users.password-label' | translate }}</label>
      <p-password id="password" formControlName="password" name="password" [feedback]="true" [ngClass]="{'ng-invalid ng-dirty' : password.touched && password.errors}"></p-password>
      <small *ngIf="password.touched && password.errors?.required" class="p-error">{{ 'admin.users.password-error-required' | translate }}</small>
      <small *ngIf="password.dirty && password.errors?.minlength" class="p-error">{{ 'admin.users.password-error-minlength' | translate }}</small>
    </div>
    <div class="field">
      <label class="form-label" for="type">{{ 'admin.users.type-label' | translate }}</label>
      <p-dropdown [options]="userTypes" name="role" formControlName="role" optionLabel="label" optionValue="value" placeholder="{{ 'admin.users.dropdown-placeholder' | translate }}"></p-dropdown>
    </div>
    <div class="field">
      <button pButton type="submit" [disabled]="!editUserForm.valid" label="{{ 'admin.users.add-new-button' | translate }}" icon="pi pi-save"
        class="p-button-lg p-button-success"></button>
    </div>
  </div>
</form>