<form #newUserForm="ngForm" (ngSubmit)="save()">
  <div class="p-fluid">
    <div class="field">
      <label for="username">Felhasználónév</label>
      <input type="text" pInputText name="userName" id="username" [(ngModel)]="user.userName" required />
    </div>
    <div class="field">
      <label for="name">Név</label>
      <input type="text" pInputText name="name" id="name" [(ngModel)]="user.name" required />
    </div>
    <div class="field">
      <label for="password">Jelszó</label>
      <p-password id="password" [(ngModel)]="user.password" minlength="6" name="password" [feedback]="true"></p-password>
    </div>
    <div class="field">
      <label class="form-label" for="type">Típus</label>
      <p-dropdown [options]="userTypes" name="role" [(ngModel)]="user.role" optionLabel="label" optionValue="value" placeholder="Válaszd ki a típust"></p-dropdown>
    </div>
    <div class="field">
      <button pButton type="submit" [disabled]="!newUserForm.valid" label="Mentés" icon="pi pi-save"
        class="p-button-lg p-button-success"></button>
    </div>
  </div>
</form>