<div class="table-responsive">
  <table class="table-striped table" *ngIf="users">
    <thead>
      <tr>
        <th>Felhasználónév</th>
        <th>Név</th>
        <th class="text-center">Admin</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.name }}</td>
        <td class="text-center">
          <i class="fa fa-ban text-danger" *ngIf="user.role == 0"></i>
          <i class="fa fa-check text-success" *ngIf="user.role == 1"></i>
        </td>
        <td class="text-center">
          <div
            class="btn-group"
            *ngIf="user.id != this.authService.decodedToken?.nameid"
          >
            <a class="btn btn-success" (click)="editUser(user)"
              ><i class="fa fa-edit"></i
            ></a>
            <a class="btn btn-danger" (click)="deleteUser(user)"
              ><i class="fa fa-trash"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
