<div class="lg:w-6 md:w-8 xs:w-12 mx-auto mt-3">
    <p-table #datatable [value]="allRequests" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        responsiveLayout="scroll" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="{first} - {last} / {totalRecords} {{ 'requests.table.paginator' | translate }}"
        [globalFilterFields]="['year','month','type']">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div pSortableColumn="year" class="p-d-flex p-jc-between p-ai-center">
                        {{ 'requests.table.year' | translate }}
                        <p-columnFilter field="year" matchMode="equals" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="years" (onChange)="filter($event.value)"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                        <p-sortIcon field="year"></p-sortIcon>
                    </div>
                </th>
                <th>
                    <div pSortableColumn="month" class="p-d-flex p-jc-between p-ai-center">
                        {{ 'requests.table.month' | translate }}
                        <p-columnFilter field="month" matchMode="equals" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="months" (onChange)="filter($event.value)"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                        <p-sortIcon field="month"></p-sortIcon>
                    </div>
                </th>
                <th>
                    <div pSortableColumn="day" class="p-d-flex p-jc-between p-ai-center">
                        {{ 'requests.table.day' | translate }}
                        <p-sortIcon field="day"></p-sortIcon>
                    </div>
                </th>
                <th>
                    <div pSortableColumn="type" class="p-d-flex p-jc-between p-ai-center">
                        {{ 'requests.table.type' | translate }}
                        <p-columnFilter field="type" matchMode="equals" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="requestTypes" (onChange)="filter($event.value)"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                        <p-sortIcon field="type"></p-sortIcon>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        &nbsp;
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr>
                <td>
                    {{request.year}}
                </td>
                <td>
                    {{ months[request.month - 1].label | translate }}
                </td>
                <td>
                    {{request.day}}
                </td>
                <td>
                    {{getType(request.type)}}
                </td>
                <td class="text-center">
                    <p-button styleClass="p-button-danger" icon="pi pi-trash" iconPos="center"
                        (click)="deleteRequest(request)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{ 'requests.table.empty-message' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="lg:w-2 md:w-4 xs:w-12 mx-auto mt-3">
    <button (click)="showModalDialog()" pButton type="button" label="{{ 'requests.button' | translate }}"
        class="p-button-success w-full"></button>
</div>