<p-panel header="{{ 'admin.holidays.title' | translate }}" [toggleable]="true" styleClass="mt-3">
  <p-table *ngIf="holidays" [value]="holidays" responsiveLayout="scroll" [paginator]="true" [rows]="10"
    [totalRecords]="totalRecords" [loading]=isLoading [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} / {totalRecords} {{ 'admin.holidays.table.paginator' | translate }}" [rowsPerPageOptions]="[10,15,25]"
    [globalFilterFields]="['year','month', 'day', 'isFix']">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="year">{{ 'admin.holidays.table.year' | translate }}
          <p-columnFilter field="year" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false"
            [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="options" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
          <p-sortIcon field="year"></p-sortIcon>
        </th>
        <th pSortableColumn="month">{{ 'admin.holidays.table.month' | translate }}
          <p-columnFilter field="month" matchMode="equals" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="months" (onChange)="filter($event.value)" placeholder="Any" optionLabel="value">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label | translate }}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
          <p-sortIcon field="month"></p-sortIcon>
        </th>
        <th pSortableColumn="day">{{ 'admin.holidays.table.day' | translate }}
          <p-columnFilter type="numeric" field="day" display="menu" [showMatchModes]="false" [showOperator]="false"
            [showAddButton]="false"></p-columnFilter>
          <p-sortIcon field="day"></p-sortIcon>
        </th>
        <th pSortableColumn="isFix">{{ 'admin.holidays.table.isfix' | translate }}
          <p-columnFilter type="boolean" field="isFix" display="menu"></p-columnFilter>
          <p-sortIcon field="isFix"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-holiday>
      <tr>
        <td>{{holiday.year == 0 ? "---" : holiday.year}}</td>
        <td>{{holiday.month}}</td>
        <td>{{holiday.day}}</td>
        <td>
          <i class="pi pi-check text-green-400" *ngIf="holiday.isFix"></i>
          <i class="pi pi-times text-pink-400" *ngIf="!holiday.isFix"></i>
        </td>
        <td class="text-right">
          <p-button styleClass="p-button-danger" icon="pi pi-trash" iconPos="center" (click)="confirm($event, holiday)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="text-right">
      <button (click)="addNewHoliday()" pButton icon="pi pi-plus" type="button" label="{{ 'admin.holidays.button' | translate }}"
          class="p-button-success"></button>
    </div>
  </ng-template>
</p-panel>
<p-confirmPopup></p-confirmPopup>