<!-- <p-card header="Beosztás 3.0.2" styleClass="p-card-shadow lg:w-6 md:w-8 mx-auto mt-5">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/whatsnew3.jpg">
    </ng-template>
    <h4>Legfőbb változások</h4>
    <ul class="newsList">
        <li><i class="pi pi-check text-green-400 font-bold"></i> Hibás megjelenítés mobil nézeten kijavítva.</li>
    </ul>
</p-card> -->

<p-card header="Beosztás 4.0.0" styleClass="p-card-shadow lg:w-6 md:w-8 mx-auto mt-5">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/whatsnew2.png">
    </ng-template>
    <h4>Legfőbb változások</h4>
    <ul class="newsList">
        <li><i class="pi pi-check text-green-400 font-bold"></i> Kéréseknél most már lehetőség van időszak megadásra. Így ha valaki például egybefüggő szabadságot akar hozzáadni, akkor nincs szükség a napokat egyesével bevinni.</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Új eventing rendszer került bevezetésre amitől nőtt a teljesítmény, illetve dinamikusabb lett az oldal.</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Mobilon az adatok internet nélkül is megtekinthetők. (cache system)</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Az e-mail értesítés javítva lett. (eddig nem mentek ki az e-mailek). A funkció továbbra is kikapcsolható a profil menüpont alatt.</li>
    </ul>
</p-card>