<p-card header="Beosztás 3.0.1" styleClass="p-card-shadow lg:w-6 md:w-8 mx-auto mt-5">
    <ng-template pTemplate="header">
        <img alt="Card" src="/assets/images/whatsnew.jpg">
    </ng-template>
    <h4>Legfőbb változások</h4>
    <ul class="newsList">
        <li><i class="pi pi-check text-green-400 font-bold"></i> Megújult design</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Választható sötét, illetve világos téma</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> 3 választható nyelv (magyar, angol, német)</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Szűrés mechanizmus javítva lett minden táblázatban</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Progresszív web app támogatás (mobilon a kezdőképernyőhöz hozzáadva, teljesértékű applikációként funkcionál)</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Szerver oldali fejlesztések (jelentős teljesítmény javulás)</li>
        <li><i class="pi pi-check text-green-400 font-bold"></i> Nincs e-mail értesítés a beosztás módosításakor, csak az új beosztásról, viszont ez is kikapcsolható a 'Profil' menüpont alatt</li>
    </ul>
    <h4>Lehetséges problémák:</h4>
    <ul class="newsList">
        <li><i class="pi pi-info-circle text-yellow-400 font-bold"></i> A fordítás még nem mindenhol 100%-os. Előfordulhatnak hibásan lefordított szövegek is.</li>
        <li><i class="pi pi-info-circle text-yellow-400 font-bold"></i> A szerver oldali hibaüzenetek még nincsenek lefordítva.</li>
        <li><i class="pi pi-info-circle text-yellow-400 font-bold"></i> Mobilon a beosztásban bizonyos esetekben lehetnek üres "foltok"</li>
        <li></li>
    </ul>
</p-card>