<div class="cell calendar__day--empty" *ngIf="day.day == null">
  <i class="fa fa-ban"></i>
</div>
<div
  class="cell"
  *ngIf="day.day != null && !day.day.isWeekend && !day.day.isHoliday"
>
  <div class="calendar__day">
    <div class="calendar__personholiday">
      <p *ngIf="day.day.usersOnHoliday.length">
        <i class="fa fa-ban"></i> Szabadság:
        <span *ngFor="let user of day.day.usersOnHoliday">
          {{ user.name }}
        </span>
      </p>
    </div>
    <div class="calendar__800">
      <span
        class="name"
        *ngFor="let user of day.day.usersScheduledForMorning"
        [ngClass]="{ request: user.isRequest }"
      >
        {{ user.userName }}
      </span>
    </div>
    <div class="calendar__930">
      <span
        class="name"
        *ngFor="let user of day.day.usersScheduledForForenoon"
        [ngClass]="{ request: user.isRequest }"
      >
        {{ user.userName }}
      </span>
    </div>
    <span class="calendar__daynumber">{{ day.day?.date | date: "dd" }}</span>
  </div>
</div>
<div class="cell calendar__weekend" *ngIf="day.day?.isWeekend">
  <div>
    <span class="calendar__daynumber">{{ day.day?.date | date: "dd" }}</span>
  </div>
</div>
<div
  class="cell calendar__holiday"
  *ngIf="!day.day?.isWeekend && day.day?.isHoliday"
>
  <i class="fa fa-smile-o"></i>
</div>
