<p-panel header="Felhasználók" [toggleable]="true" styleClass="mt-3">
  <p-table [value]="users" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Felhasználónév</th>
        <th>Név</th>
        <th>Admin</th>
        <th>&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.userName}}</td>
        <td>{{user.name}}</td>
        <td>
          <i class="pi pi-check text-green-400" *ngIf="user.role == 1"></i>
          <i class="pi pi-ban text-pink-400" *ngIf="user.role == 0"></i>
        </td>
        <td>
          <div class="p-buttonset" *ngIf="user.id != this.authService.decodedToken?.nameid">
            <button pButton icon="pi pi-pencil" class="p-button-success mr-2" (click)="editUser(user)"></button>
            <button pButton icon="pi pi-trash" class="p-button-danger" (click)="confirm($event, user)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="lg:w-3 xs:w-12 ml-auto mt-3">
      <button (click)="addNewUser()" pButton icon="pi pi-plus" type="button" label="Új hozzáadása"
          class="p-button-success w-full" [loading]="isLoading"></button>
    </div>
  </ng-template>
</p-panel>
<p-confirmPopup></p-confirmPopup>