<ngx-spinner></ngx-spinner>
<div class="container" *ngIf="schedule">
  <div class="row mb-3 justify-content-end">
    <div class="col-md-auto col-1">
      <label for="year" class="col-form-label">Év:</label>
    </div>
    <div class="col-md-auto col-3">
      <select
        class="form-control"
        id="year"
        [(ngModel)]="year"
        (change)="getSchedule()"
      >
        <option
          *ngFor="let year of years"
          [value]="year"
          [selected]="date.getFullYear() === year"
        >
          {{ year }}
        </option>
      </select>
    </div>
    <div class="col-md-auto col-2">
      <label for="month" class="col-form-label">Hónap:</label>
    </div>
    <div class="col-md-auto col-6">
      <select
        class="form-control"
        id="month"
        [(ngModel)]="month"
        (change)="getSchedule()"
      >
        <option
          *ngFor="let month of months"
          [value]="months.indexOf(month) + 1"
          [selected]="date.getMonth() === months.indexOf(month)"
        >
          {{ month }}
        </option>
      </select>
    </div>
  </div>
  <div class="calendar">
    <div class="calendar__table">
      <div class="calendar__header">
        <div class="cell--header"><i class="fa fa-clock-o"></i></div>
        <div class="cell--header">Hétfő</div>
        <div class="cell--header">Kedd</div>
        <div class="cell--header">Szerda</div>
        <div class="cell--header">Csütörtök</div>
        <div class="cell--header">Péntek</div>
        <div class="cell--header">Szombat</div>
        <div class="cell--header">Vasárnap</div>
      </div>

      <app-schedule-row
        *ngFor="let row of rows"
        [days]="row.days"
        [mobile]="mobile"
        [editMode]="editMode"
        (arrowClick)="dayChanged($event)"
      ></app-schedule-row>
    </div>
  </div>
  <div
    class="row justify-content-end mt-3"
    *ngIf="this.authService.decodedToken?.role === 'Administrator'"
  >
    <div class="col-12 col-lg-3 col-md-6" *ngIf="schedule.isSaved">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-primary btn-lg"
          (click)="enableEditMode()"
          *ngIf="!editMode"
        >
          <i class="fa fa-edit"></i>
          Szerkesztés
        </button>
        <button
          class="btn btn-danger btn-lg"
          (click)="deleteSchedule()"
          *ngIf="!editMode"
        >
          <i class="fa fa-trash"></i>
          Törlés
        </button>
        <button
          class="btn btn-primary btn-lg"
          (click)="cancel()"
          *ngIf="editMode"
        >
          <i class="fa fa-close"></i>
          Mégse
        </button>
        <button
          class="btn btn-success btn-lg"
          (click)="saveChanges()"
          *ngIf="editMode"
        >
          <i class="fa fa-save"></i>
          Mentés
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6" *ngIf="!schedule.isSaved">
      <div class="d-grid">
        <button class="btn btn-success btn-lg" (click)="createSchedule()">
          Kiállít
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <app-summary
        [summaries]="schedule.summaries"
        *ngIf="schedule.isSaved"
      ></app-summary>
    </div>
  </div>
</div>
