<div class="p-fluid">
  <div class="field">
    <label for="type">{{ 'requests.new-request.type-label' | translate }}</label>
    <p-dropdown [options]="requestTypes" [(ngModel)]="type" optionLabel="label" optionValue="value" id="type"></p-dropdown>
  </div>
  <div class="field-checkbox">
    <p-checkbox [(ngModel)]="isPeriod" [binary]="true" inputId="binary"></p-checkbox>
    <label for="binary">Period?</label>
  </div>
  <div class="field">
    <label for="date">{{ 'requests.new-request.date-label' | translate }}</label>
    <p-calendar [(ngModel)]="date" [disabledDays]="[0,6]" [inline]="true" selectionMode="range" [showWeek]="true" id="date" *ngIf="isPeriod"></p-calendar>
    <p-calendar [(ngModel)]="date" [disabledDays]="[0,6]" [inline]="true" [showWeek]="true" id="date" *ngIf="!isPeriod"></p-calendar>
  </div>
  
  <div class="field">
    <button pButton type="button" label="{{ 'requests.new-request.button' | translate }}" class="p-button-success w-full" (click)="save()"></button>
  </div>
</div>