<div class="container">
  <div class="row">
    <div class="col-auto">
      <h3>Felhasználók</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12">
      <app-users
        [users]="users"
        (onDeleteUser)="deleteUser($event)"
        (onEditUser)="editUser($event)"
      ></app-users>
      <div
        class="row justify-content-center"
        *ngIf="createNewUserMode || editUserMode"
      >
        <div class="col-12 col-md-4 col-lg-6">
          <app-new-user
            *ngIf="createNewUserMode"
            (cancelNewUserMode)="cancel()"
            (onCreateNewUser)="createNewUser($event)"
          ></app-new-user>
          <app-edit-user
            *ngIf="editUserMode"
            [user]="selectedUser"
            (onCancel)="cancel()"
            (onSave)="saveEditChanges($event)"
          ></app-edit-user>
        </div>
      </div>
      <div class="text-end mt-3" *ngIf="!createNewUserMode && !editUserMode">
        <button class="btn btn-success" (click)="createNewUserMode = true">
          <i class="fa fa-plus"></i> Új
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-12 col-md-6 col-lg-2 d-grid"></div>
  </div>
  <div class="row">
    <div class="col-auto">
      <h3>Ünnepnapok</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12">
      <app-holidays
        [holidays]="holidays"
        [filter]="filter"
        [years]="years"
        (onFilterChanged)="filterHolidays()"
        (onDeleteHoliday)="deleteHoliday($event)"
      ></app-holidays>
      <div class="row justify-content-center mb-5" *ngIf="createNewHolidayMode">
        <div class="col-12 col-md-4 col-lg-6">
          <app-new-holiday
            (onCancelNewHolidayMode)="cancel()"
            (onCreateNewHoliday)="createNewHoliday($event)"
          ></app-new-holiday>
        </div>
      </div>
      <div class="text-end mt-3" *ngIf="!createNewHolidayMode">
        <button class="btn btn-success" (click)="createNewHolidayMode = true">
          <i class="fa fa-plus"></i> Új
        </button>
      </div>
    </div>
  </div>
</div>
