<div class="container">
  <div *ngIf="user" class="lg:w-3 md:w-6 xs:w-12 mx-auto mt-3">
    <p-card header="{{ 'profile.title' | translate }}">
      <form [formGroup]="userForm" (ngSubmit)="updateInfo()">
          <div class="p-fluid">
            <div class="field">
              <label for="username">{{ 'profile.username-label' | translate }}</label>
              <input type="text" pInputText formControlName="userName" [ngClass]="{'ng-invalid ng-dirty' : userName.touched && userName.errors}"/>
              <small *ngIf="userName.touched && userName.errors?.required" class="p-error">{{ 'profile.username-error-required' | translate }}</small>
              <small *ngIf="userName.dirty && userName.errors?.email" class="p-error">{{ 'profile.username-error-email' | translate }}</small>
            </div>
            <div class="field">
              <label for="name">{{ 'profile.name-label' | translate }}</label>
              <input type="text" pInputText formControlName="name" [ngClass]="{'ng-invalid ng-dirty' : name.touched && name.errors}"/>
              <small *ngIf="name.touched && name.errors?.required" class="p-error">{{ 'profile.name-error-required' | translate }}</small>
            </div>
            <div class="field">
              <label for="password">{{ 'profile.password-label' | translate }}</label>
              <p-password id="password" formControlName="password" [ngClass]="{'ng-invalid ng-dirty' : (password.dirty && password.errors) || userForm.errors?.noMatchError}"></p-password>
              <small *ngIf="password.dirty && password.errors?.minlength" class="p-error">{{ 'profile.password-error-minlength' | translate }}</small>
              <small *ngIf="password.dirty && password.errors?.maxlength" class="p-error">{{ 'profile.password-error-maxlength' | translate }}</small>
            </div>
            <div class="field">
              <label for="passwordre" class="form-label"
                >{{ 'profile.password-confirm-label' | translate }}</label
              >
              <p-password id="passwordre" formControlName="confirmPassword" [feedback]="false" [ngClass]="{'ng-invalid ng-dirty' : (confirmPassword.touched || confirmPassword.dirty) && userForm.errors?.noMatchError}"></p-password>
              <small *ngIf="confirmPassword.dirty && userForm.errors?.noMatchError" class="p-error">{{ 'profile.password-confirm-error-nomatch' | translate }}</small>
            </div>
            <div class="field-checkbox">
                <p-checkbox formControlName="receiveEmails" [binary]="true" inputId="emailnotification"></p-checkbox>
                <label for="emailnotification" class="form-label">{{ 'profile.receive-emails-label' | translate }}</label>
            </div>
            <div class="field">
              <button pButton type="button" [disabled]="!userForm.valid" label="{{ 'profile.button' | translate }}" icon="pi pi-save" class="p-button-lg p-button-success" (click)="updateInfo()"></button>
            </div>
        </div>
        </form>
    </p-card>
  </div>
</div>
