<table class="table table-striped" *ngIf="holidays">
  <thead>
    <tr>
      <th>
        <label for="year" class="form-label">Év:&nbsp;</label>
        <select
          id="year"
          class="form-select-sm"
          [(ngModel)]="filter.year"
          (change)="filterHolidays()"
        >
          <option [ngValue]="0">---</option>
          <option *ngFor="let year of years" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </th>
      <th>
        <label for="months" class="form-label">Hónap:&nbsp;</label>
        <select
          name="months"
          id="months"
          class="form-select-sm"
          [(ngModel)]="filter.month"
          (change)="filterHolidays()"
        >
          <option [ngValue]="0">Összes</option>
          <option
            *ngFor="let month of months"
            [ngValue]="months.indexOf(month) + 1"
          >
            {{ month }}
          </option>
        </select>
      </th>
      <th>Nap</th>
      <th>Fix</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="holidays.length === 0">
      <td colspan="5">
        <h5 class="text-center">Nincsenek ünnepnapok erre a hónapra</h5>
      </td>
    </tr>
    <tr *ngFor="let holiday of filteredHolidays()">
      <td>{{ holiday.year ? holiday.year : "-" }}</td>
      <td>{{ months[holiday.month - 1] }}</td>
      <td>{{ holiday.day }}</td>
      <td>
        <i class="fa fa-close text-danger" *ngIf="!holiday.isFix"></i>
        <i class="fa fa-check text-success" *ngIf="holiday.isFix"></i>
      </td>
      <td class="text-center">
        <a class="btn btn-danger" (click)="deleteHoliday(holiday)"
          ><i class="fa fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
