<div class="container mt-5">
  <div style="text-align: center" *ngIf="!loginMode">
    <h1>Beosztás Készítő V2</h1>
    <p class="lead">
      Ha az ember annyit dolgozik, amennyit csak bír, nem gondol összevissza
      mindenféle dologra.
    </p>
    <div class="text-center" *ngIf="!loggedIn()">
      <button class="btn btn-primary btn-lg" (click)="triggerLoginMode()">
        Belépés
      </button>
    </div>
  </div>

  <div class="container" *ngIf="loginMode">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <app-login (loginMode)="cancelLoginMode($event)"></app-login>
      </div>
    </div>
  </div>
</div>
